/* Styles pour la sidebar étendue */
.sidebar {
  width: 300px; /* ou la largeur de votre choix */
  transition: width 0.5s ease;
}

/* Styles pour les icônes lors de la sidebar rétractée */
.sidebar-icon-only {
  width: 80px; /* Ajustez selon la taille de vos icônes */
  transition: width 0.5s ease;
}

/* Style pour masquer le texte quand la sidebar est rétractée */
.sidebar-icon-only .nav-link span {
  display: none;
}

/* Adapter le style du lien pour aligner les icônes au centre */
.sidebar-icon-only .nav-link {
  justify-content: center;
}
.sidebar-icon-only .hide-in-icon-only {
  display: none !important; /* Assure que l'icône est cachée */
}

.sidebar .nav-link span {
  font-size: 16px; /* Remplacez 16px par la taille de police souhaitée */
}
