
<body>


  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar-->
  <!---- ======= Layout ========== -->
  <!-- <app-layout></app-layout> -->
  <router-outlet></router-outlet>
  <!-- End Layout -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End Footer -->
  <app-scroll-to-top></app-scroll-to-top>


<!-- Example of a back-to-top button with Bootstrap classes -->
<!-- Bouton Retour en haut -->


</body>

