<main id="main" class="main pointing-main">

  <div class="pagetitle">
    <h1>Time Management</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html" rel="noopener noreferrer">Home</a></li>
        <li class="breadcrumb-item">User Attendance List</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- Employee Pointing List -->
  <section class="pointing-section">
    <div class="pointing-container-fluid">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Search Bar -->
            <div class="d-flex justify-content-end align-items-center mt-3">
              <div class="pointing-search-bar position-relative mt-2">
                <input type="search" id="searchInput" name="query" placeholder="Search" title="Enter search keyword"
                  class="form-control pl-5 pr-5 pointing-custom-search-input" [(ngModel)]="search" (input)="updateSearch()">
                <i class="bi bi-search position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%);"
                  [ngClass]="{'d-none': search.length > 0}"></i>
                <i class="bi bi-x-lg position-absolute pointing-clear-button" style="right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                  [ngClass]="{'d-none': search.length === 0}" (click)="clearSearch()"></i>
              </div>
            </div>

            <!-- Export Buttons -->
            <div class="d-flex justify-content-between align-items-center mb-1">
              <div class="d-flex align-items-center">
                <button class="btn btn-secondary pointing-custom-export-button" title="Export to Excel" (click)="downloadCSV()">
                  <img src="assets/img/Excel.png" class="pointing-export-icon">
                  Export
                </button>
                <button class="btn btn-secondary pointing-custom-export-buttonpdf" title="Export to PDF" (click)="downloadPDF()">
                  <img src="assets/img/pdf.png" class="pointing-export-iconpdf">
                  Export
                </button>
              </div>
            </div>

            <!-- Employee Pointing List Table -->
            <div *ngIf="pointages && pointages.length; else noData">
              <table class="pointing-table datatable">
                <thead>
                  <tr class="pointing-table-header">
                    <th>#</th>
                    <th>Registration Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Check-In Time</th>
                    <th>Check-Out Time</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th *ngIf="isRoleAllowed(['Administrateur'])">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pointage of pointages | searchPointage: search | sortPointage:'checkInTime':'desc' | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
                    <th scope="row" class="pointing-special-gray-cell">{{i+1}}</th>
                    <td id="work">{{ pointage.user.username }}</td>
                    <td id="work">{{ pointage.user.firstname }}</td>
                    <td id="work">{{ pointage.user.lastname }}</td>
                    <td id="work">{{ pointage.checkInTime | date: 'short' }}</td>
                    <td id="work">{{ pointage.checkOutTime | date: 'short' }}</td>
                    <td>
                      <a  (click)="showOnMap(pointage.latitude, pointage.longitude)">
                        <img src="assets/img/location-icon.png" title="Show on map" class="pointing-export-iconmap">
                      </a>
                    </td>
                    <td>
                      <span class="pointing-status-circle" *ngIf="pointage.completed" title="completed">🟢</span>
                      <span class="pointing-status-circle" *ngIf="!pointage.completed" title="Not Completed">🔴</span>
                    </td>
                    <td>
                      <button *ngIf="isRoleAllowed(['Administrateur'])" class="btn btn-primary btn-sm" (click)="editPointage(pointage)" style="background: none; border: none; padding: 0;" title="Edit">
                        <i class="bi bi-pencil-fill" style="color: #f0a211; font-size: 25px;"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #noData>
              <p>No data available.</p>
            </ng-template>
            <pagination-controls class="pointing-pagination-controls" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
        <div class="pointing-map-container">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </section>
</main>
