/* Custom Button */
#pointing-custom-button {
  background-color: #DC143C; /* Background color red for the button */
  color: white; /* Text color white for better contrast */
  border: none; /* Remove default button border */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Padding for better spacing */
  text-decoration: none; /* Remove underline from link styling */
  margin-top: -20px;
}

#pointing-custom-button .pointing-custom-icon {
  margin-right: 5px; /* Space between the icon and the text */
  font-size: 1em; /* Adjust icon size if needed */
}

#pointing-custom-button span {
  text-align: center;
  color: white; /* Text color white */
  text-decoration: none; /* Ensure the text is not underlined */
}

/* Center pagination controls */
.pointing-pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Use 100% if you want it to take the full width */
  height: 50px; /* Adjust height if necessary */
  padding: 10px 0; /* Add padding for better positioning */
}

.pointing-row {
  width: 100%; /* Allow horizontal scrolling if the table is too wide */
}

.pointing-table {
  width: 100%;
  table-layout: relative; /* Force table to respect specified column widths */
}

.pointing-table th, .pointing-table td {
  text-align: left;
  padding: 8px;
  vertical-align: middle; /* Vertical alignment */
}


/* Fixed width for the index column */
.pointing-col-index {
  width: 50px; /* Adjust the width as needed */
}

.btn {
  margin: 3px;
}

/* Ensure buttons are always visible */
.btn-group {
  white-space: nowrap; /* Prevent buttons from wrapping to the next line */
}

input[type="search"]::-ms-clear {
  display: none;
}

/* Remove the clear button in Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Safari: Remove the inner and outer clear buttons */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.hide {
  display: none;
}

.pointing-search-bar input.form-control {
  padding-left: 30px;  /* Adjust based on the size of your search icon */
  padding-right: 30px; /* Adjust based on the size of your clear icon */
  border-radius: 25px;
}

#searchInput {
  border-width: 2px; /* Adjust as needed for thickness */
  border-style: solid; /* Ensuring the border style is solid */
  border-color: #808080; /* You can customize the color as needed */
}

input.form-control {
  /* Adding a box shadow */
  box-shadow: 0 2px 5px #C0C0C0; /* Adjust the rgba values based on your color preference */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

input.form-control:focus {
  /* Enhanced shadow on focus, if needed */
  box-shadow: 0 4px 8px #C0C0C0; /* Stronger shadow on focus */
}

.pointing-custom-search-input {
  height: 48px;
}

/* Additional styles for employee component */
body main#main.pointing-main {
  padding-bottom: 290px; /* Adjust this value based on the actual height of your footer */
}

@media (max-width: 768px) {
  .main.pointing-main {
    padding-bottom: 100px; /* Larger padding for smaller screens if needed */
  }
}

.pointing-table-header th {
  background-color: #DCDCDC !important; /* Set background color to gray */
  padding: 15px;
}

.pointing-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 27px;
}

.pointing-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pointing-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.pointing-status-text {
  position: absolute;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.pointing-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  z-index: 2;
}

input:checked + .pointing-slider {
  background-color: green;
}

input:checked + .pointing-slider:before {
  transform: translateX(57px); /* Adjust this value based on the width */
}

.pointing-slider.round {
  border-radius: 20px;
}

.pointing-slider.round:before {
  border-radius: 100%;
  width: 15px;
  height: 20px;
}

.pointing-custom-export-button {
  display: flex;
  align-items: center;
  background-color: #e2e6ea; /* Button background color */
  border: 1px solid #ced4da; /* Border color */
  color: black; /* Text color */
  font-size: 14px; /* Font size */
  padding: 10px 15px; /* Padding */
  border-radius: 4px; /* Rounded corners */
  text-decoration: none; /* Remove underline from text */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color */
  margin-bottom: 25px;
}

.pointing-custom-export-buttonpdf {
  display: flex;
  align-items: center;
  background-color: #e2e6ea; /* Button background color */
  border: 1px solid #ced4da; /* Border color */
  color: black; /* Text color */
  font-size: 14px; /* Font size */
  padding: 8px 15px; /* Padding */
  border-radius: 4px; /* Rounded corners */
  text-decoration: none; /* Remove underline from text */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-bottom: 25px;
}

.pointing-custom-export-button:hover,
.pointing-custom-export-buttonpdf:hover {
  background-color: #d4d8dc; /* Hover background color */
  color: black; /* Hover text color */
  border-color: black;
}

.pointing-export-icon,
.pointing-export-iconpdf {
  margin-right: 6px; /* Space between icon and text */
}

.pointing-export-icon {
  height: 20px;
  width: 20px;
}

.pointing-export-iconpdf {
  height: 25px;
  width: 25px;
}

.pointing-map-container {
  margin-top: 20px;
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

.pointing-status-circle {
  font-size: 35px;
  cursor: pointer;
}

.pointing-export-iconmap {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.pointing-special-gray-cell {
  background-color: #DCDCDC !important; /* Light gray background */
  color: #111010; /* Dark gray text */
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#work
{
  font-size: 18px;
}
