.dashboard-text {
  font-family: Arial, sans-serif; /* Police élégante */
  font-size: 18px; /* Taille de police */
}

#logo {
  max-width: 50px;
  max-height: 50px;
  margin-left: 5px;
  margin-right: 20px; /* Espace entre le logo et le lien Home */
}

.logo-link {
  display: inline-block;
  cursor: pointer; /* Curseur pointeur sur le logo */
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  position: relative;
}

.badge-number {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

.dropdown-menu.notifications {
  width: 350px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-header {
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f8f9fa;
}

.notification-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notification-item:hover {
  background-color: #f1f1f1;
}

.notification-item i {
  margin-right: 10px;
  color: #007bff;
}

.notification-content {
  flex: 1;
  padding: 5px 0;
}

.notification-content h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.notification-content p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.notification-time {
  font-size: 12px;
  color: #999;
}

.notification-item.read .notification-content {
  background-color: #e7e7e7;
}



.unread-indicator {
  width: 10px;
  height: 10px;
  background-color: #007bff; /* Blue color for the unread indicator */
  border-radius: 50%;
  display: inline-block;
}


.dropdown-divider {
  margin: 0;
}

.dropdown-footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  cursor: pointer;
}

.dropdown-footer a {
  color: #007bff;
  text-decoration: none;
}

.dropdown-footer a:hover {
  text-decoration: underline;
}

.custom-scroll {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}

.notification-content {
  cursor: pointer;
}


