<main id="main" class="main layout-main">
  <div class="pagetitle" *ngIf="isRoleAllowed(['Administrateur', 'Responsable'])">
    <h1>HR Statistics</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">HR Statistics</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard" *ngIf="isRoleAllowed(['Administrateur', 'Responsable','Recruteur'])">
    <div class="container">
      <div class="row">
        <!-- Gender Chart -->
        <div class="col-md-4 mb-4">
          <app-gender-chart></app-gender-chart>
        </div>
        <!-- End Gender Chart -->

        <!-- Contract Chart -->
        <div class="col-md-4 mb-4">
          <app-contract-chart></app-contract-chart>
        </div>
        <!-- End Contract Chart -->

        <!-- Status Chart -->
        <div class="col-md-4 mb-4">
          <app-status-chart></app-status-chart>
        </div>
        <!-- End Status Chart -->
      </div>

      <div class="row">
        <!-- Employee Per Year Chart -->
        <div class="col-md-12 mb-4">
          <app-employee-per-year-chart></app-employee-per-year-chart>
        </div>
        <!-- End Employee Per Year Chart -->
      </div>
    </div>
  </section>

  <section class="container" *ngIf="!isRoleAllowed(['Administrateur', 'Responsable','Recruteur'])">
    <div class="containe">
      <main id="main" class="main layout-main">
        <section class="welcome-section">
          <div class="welcome-content">
            <h1>Welcome to Your Team</h1>
            <p>Together, we grow and strengthen our future.</p>
          </div>
        </section>
      </main>
    </div>
  </section>
</main>
